node_modules
**/node_modules
.git
.git/**
.pnpm-store
**/.pnpm-store
.claude
.vscode
logs
temp
.pixi
**/.pixi
models
**/*.zip
test-results
**/test-results
dist
**/dist
.env
.env.*
*.log
data
/data
/data/**
